
@media(width:100px){


}

.header {
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.header nav {
    margin-top: 8px;
    border-radius: 5px;
    font-size: 16px;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

.header nav a:hover {
    color: red;
    border-radius: 5px;
    font-size: 16px;
}



body {
    margin: 10;
    padding: 10;
    
    background-color: silver;
}



.container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h1 {
    color:black;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: black;
    text-align: center;
    margin-top: 30px;
}


p {
    color: black;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.main-img {
    width: 200px;
    margin: 15px ;
}


.product-img {
    width: 250px;
    margin: 10px;
    border-radius: 8px;
}

.links a {
    display: inline-block;
    margin: 8px 0;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
}

.links a:hover {
    background-color: blue;
}


.back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 8px 16px;
    border-radius: 5px;
}

.back:hover {
    background-color:red;
}
.footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
